main > h1 {
        background: linear-gradient(transparent 70%, #70fc8a 70%);
}
section {
    border: solid 1px #ccc;
    padding: 10px 20px;
}

section h1 {
    background: rgb(228, 255, 225);
    border-bottom:solid 2px rgb(181, 235, 123);
    border-left:solid 8px rgb(181, 235, 123);
    padding: 0 0 0 10px;
}

.katakana{
    list-style-type: katakana;
}